<div class="container mt-4">
    <h3>Login Form</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': submitted && form['email'].errors}" />
        <div *ngIf="submitted && form['email'].errors" class="invalid-feedback">
            <div *ngIf="form['email'].errors['required']">
                This value is required
            </div>
            <div *ngIf="form['email'].errors['email']">
                Invalid email id field
            </div>
        </div>
      </div>
  
      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': submitted && form['password'].errors}" />
        <div *ngIf="submitted && form['password'].errors" class="invalid-feedback">
            <div *ngIf="form['password'].errors['required']">
                This value is required
            </div>
            <div *ngIf="form['password'].errors['minlength']">
                Password must be 8 chachters long.
            </div>
        </div>
      </div>
  
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
  
    </form>
</div>