<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">My Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="sign-in">Sign in</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="sign-up">Sign up</a>
            </li>
        </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<footer class="footer text-center">
    <div class="container px-4 px-lg-5">
        <p class="text-muted small mb-0">Copyright © Your Website 2022</p>
    </div>
</footer>
